.chat-main
  .chat-main__group-info
    .chat-main__group-info__left
      .chat-main__group-info__left__group-name
        = @group.name
      .chat-main__group-info__left__group-member
        - @group.users.each do |user|
          = user.name
    %a
      = link_to edit_group_path(@group), class: "edit" do
        edit
      
  .chat-main__message-list
    = render @messages
    %div
      .chat-main__message-list__name
        masa
      .chat-main__message-list__time
        2019/11/20(Wed) 17:43:01  
    .chat-main__message-list__message
      おはよう！
  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'text', placeholder: 'type a message'
        = f.label :image, class: "input-box__image" do
          = icon('far', 'image', class: 'input-box__image')
          = f.file_field :image, class: 'btn'
      = f.submit 'Send', class: 'send'  
    